// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ebebeb;

$very-dark-brown: #1f1409;
$soft-black: #292929;

// Blue shades
$almost-white-blue: rgba(246,248,248,1);
$very-light-blue: rgb(213,222,223);
$light-blue: rgb(111,180,182);

$medium-light-blue: rgb(57,140,153);
$medium-blue: rgb(29,124,135);

$very-dark-blue: rgb(6,61,70);

// Blue shades with transparency
$very-light-blue-7: rgba(213,222,223,0.7);
$light-blue-7: rgba(111,180,182,0.7);

$medium-blue-7: rgba(29,124,135,0.7);
$medium-blue-9: rgba(29,124,135,0.9);

$very-dark-blue-5: rgba(6,61,70,0.5);
$very-dark-blue-8: rgba(6,61,70,0.8);
$very-dark-blue-9: rgba(6,61,70,0.9);

// Yellow shades
$very-light-yellow: rgb(252,238,186);
$light-yellow: rgb(253,211,78);
$medium-light-yellow: rgb(250,189,69);

// Box shadows
$shadow-very-light: 1px 1px 2px rgba(134, 134, 134, 0.1);
$shadow-light: 1px 1px 2px rgba(0,0,0,0.1);
$shadow-medium-light: 1px 1px 2px rgba(0,0,0,0.3);
$shadow-medium: 1px 1px 2px rgba(0,0,0,0.5);
$shadow-medium-hover: 0px 0px 1px rgba(0,0,0,0.3);
