.ingredient-container {
  color: rgb(0,0,0);
  font-size: 16px;
  input {
    font-size: 16px;
    text-decoration: none;
    color: red;
  }
}

.container-test-sm {
  display: none;
  border: 1px solid $very-dark-blue;
  color: $very-dark-blue;
  font-size: 16px;
  min-width: fit-content;
}

.ingredient-info-left {
  width: 300px;
  margin: 12px;
  padding: 0;
}

.nutrients-info-right {
  display: flex;
  font-size: 12px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.nutrients-info {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.info-card-sm {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 0 8px;
  text-align: center;
  h6 {
    font-size: 10px;
    font-weight: bolder;
  }
}

.dose-info {
  font-size: 14px;
  // padding-right: 0px;
  i {
    color: $medium-blue;
  }
}

.ingredient-info {
  min-width: 300px;
  max-width: 500px;
}
