.ingredient-container {
  color: rgb(0,0,0);
  font-size: 16px;
}

.ingredient-info-left {
  width: 400px;
  padding: 0;
  margin-bottom: 10px;
  .dose-name {
    font-family: $headers-font;
    margin-top: 10px;
  }
}

.nutrients-info-right {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.nutrients-info {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2% 0;
  margin-bottom: 2%;
  font-family: $body-font;
  font-weight: 400;
  border-bottom: 1px dashed $very-light-blue;
}

.info-card-sm {
  color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 0 8px;
  text-align: center;
  h6 {
    font-family: $body-font;
    font-size: 10px;
  }
}

.dose-info {
  font-family: $body-font;
  font-weight: 400;
  font-size: 13px;
  padding-left: 10%;
  i {
    color: $medium-blue;
  }
}

.ingredient-info {
  min-width: 300px;
  max-width: 500px;
}

// Recipe total macronutrients
.recipe-total {
  max-width: 500px;
  margin: 0 auto;
  color: $medium-blue;
  .nutrients-info{
    border: none;
  }
  .info-card-btm {
    color: $medium-blue;
    font-weight: 600;
  }
  .info-card-top h6 {
    color: $very-dark-blue;
    font-weight: 900;
  }
}

// Media queries
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .ingredient-info-left {
    width: 150px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width:760px) {
  .info-card-sm {
    margin-bottom: 3%;
  }
  .recipe-total {
    margin: 3% auto;
  }
}
