// Recipe's main container
.main-show-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

// Recipe's photo container
.recipe-photo {
  width: 42vw;
  max-height: 70vh;
  overflow: hidden;
  margin-right: 3%;
  img {
    width: inherit;
    display: inline-block;
    box-shadow: $shadow-light;
    border-radius: 3px;
  }
}

// Recipe details - Main
.recipe-details {
  width: 26vw;
  margin: 0 auto;
  position: relative;
  h4, h1 {
    text-align: center;
    color: $very-dark-blue;
  }

  h1 {
    margin-top: 2%;
  }

  p {
    width: 55px;
  }

  span {
    font-family: $body-font;
  }
}

// Recipe detail
.recipe-detail {
  width: 26vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 9% 0;
  padding: 20px;
  border: 1px dashed $very-dark-blue-5;
  p, span {
    font-size: 14px;
    color: $soft-black;
    text-align: center;
  }

  p {
    margin: 0 2%;
  }
}

// Recipe detail - Time and Difficulty info
.recipe-detail:first-child {
  flex-direction: column;
  .fa-star {
    font-size: 12px;
  }
}

.recipe-detail:nth-child(2) {
  flex-direction: column;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#recipe-total-show .nutrients-info {
  width: inherit;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  .info-card-sm {
    margin: 0 2% 2% 2%;
  }
}

.title-center {
  display: flex;
  justify-content: center;
  h4 {
    font-size: 18px;
    margin-bottom: 5%;
  }
}

// Recipe detail - User info and save/favourite link. Specific css in partials
#bottom-user-info {
  margin: 3% 0;
  padding: 0;
  border: none;
  justify-content: unset;
  position: absolute;
  bottom: 0;
  left: -4vw;
  p {
    text-align: left;
  }
}

// Recipe ingredients
.recipe-preparation {
  width: 42vw;
  margin: 3% 2%;
  display: inline-flex;
  justify-content: space-between;
  p {
    width: 42vw;
  }

  h2 {
    font-size: 20px;
  }
}

.underlined {
  width: max-content;
  border-bottom: 1px solid $very-dark-blue;
}

.secondary-header {
  padding-right: 5vw;
  margin: 3% 0;
  font-family: $headers-font;
  font-weight: 200;
  display: flex;
  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  i {
    font-weight: bolder;
  }

  a {
    display: block;
    margin-left: 12px;
    font-size: 12px;
    color: $medium-blue;
  }

  a:hover {
    color: $very-dark-blue;
  }
}

.recipe-ingredients {
  width: 35%;
  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    font-size: 16px;
    color: $soft-black;
  }
}

.recipe-instructions {
  width: 100%;
  font-size: 16px;
  color: $soft-black;
}

// Media queries
@media screen and (min-width: 501px) and (max-width: 1000px) {
  .main-show-container {
    margin-top: 2%;
  }

  .recipe-details {
    min-height: 285px;
    margin: 2% auto;
  }

  .recipe-detail {
    margin: 4% auto;
  }

  .recipe-photo, .recipe-details, .recipe-detail {
    width: 80vw;
  }

  .recipe-detail p {
    width: max-content;
  }

  .recipe-photo {
    margin: 0 auto;
  }

  .recipe-preparation {
    width: 100%;
  }

  .recipe-ingredients, .recipe-preparation p, .recipe-instructions {
    width: 80vw;
  }

  .recipe-ingredients:first-child {
    margin-top: 5%;
  }

  #recipe-total-show .nutrients-info {
    width: 60vw;
  }

  #bottom-user-info {
    bottom: -18%;
    left: 4vw;
  }
}

@media screen and (max-width:500px) {
  .main-show-container {
    margin-top: 0;
  }

  .recipe-photo, .recipe-details, .recipe-detail {
    width: 90vw;
    margin: 0 auto;
  }

  .recipe-details {
    width: fit-content;
    min-height: 285px;
    margin: 1% auto;
  }

  .recipe-detail {
    border: none;
    padding: 0;
    p {
      margin: 0 5%;
      min-width: 50px;
    }

    p, span {
      font-size: 12px;
    }

    h4 {
      margin-top: 5%;
      font-size: 16px;
      line-height: 2em;
    }
  }

  .secondary-header h1 {
    font-size: 24px;
  }

  .recipe-preparation {
    flex-direction: column;
    width: 90%;
    p {
      width: 100%;
    }
  }

  .recipe-ingredients:first-child {
    margin-top: 15%;
  }

  .recipe-ingredients, .recipe-instructions {
    width: 90vw;
  }

  #bottom-user-info {
    left: 0;
    bottom: -15%;
  }
}
