<div class="favourite">

  <% if user_signed_in? %>

    <% if current_user.favourited?(@recipe) %>
  
      <%= link_to recipe_favourite_path(@recipe), method: :delete do %>
        <div class="icons-favourite">
          <i class="fas fa-bookmark"></i>
        </div>
        <p>Saved</p>
      <% end %>

    <% else %>

      <%= link_to recipe_favourites_path(@recipe), method: :post do %>
        <div class="icons-favourite">
          <i class="far fa-bookmark"></i>
        </div>
        <p>Save</p>
      <% end %>

    <% end %>

  <% else %>

    <%= link_to new_user_session_path do %>
      <div class="icons-favourite">
        <i class="far fa-bookmark"></i>
      </div>
        <p>Save</p>
    <% end %>

  <% end %>

</div>
