<% unless @recipe.preparation_time.zero? %>
  <p><i class="far fa-clock"></i> Prep <%= format_time(@recipe.preparation_time) %></p>
<% end %>

<% unless @recipe.cooking_time.zero? %>
  <p><i class="far fa-clock"></i> Cook <%= format_time(@recipe.cooking_time) %></p>
<% end %>

<% unless @recipe.total_time.zero? %>
  <p><i class="fas fa-clock"></i> Total <%= format_time(@recipe.total_time) %></p>
<% end %>

<% case @recipe.difficulty %>
<% when 'Easy' %>
  <p><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 
<% when 'Medium' %> 
  <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
<% else %>
  <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
<% end %>
  <%= @recipe.difficulty %></p>