<div class="create-recipe-form">
  <h3>Recipe Name</h3>
  <%= simple_form_for @recipe do |f| %>
  <%= f.input :name,
      label: false,
      placeholder: 'ex: Spaghetti Carbonara' %>
  <%= f.input :difficulty,
    as: :radio_buttons,
    collection: %w[Easy Medium Hard],
    label: 'Difficulty:' %>
    <div class="float-right">
      <%= f.button :submit, 'Next', class: 'btn-action' %>
    </div>
  <% end %>
</div>