<div class="create-recipe-form">
  <h3>Recipe Name</h3>
  <%= simple_form_for @recipe do |f| %>
  <%= f.input :name,
      label: false,
      placeholder: 'ex: Spaghetti Carbonara' %>
    <div class="float-right">
      <%= f.button :submit, 'Next', class: 'btn-action' %>
    </div>
  <% end %>
</div>