<h1><%= @recipe.name %></h1>

<div class="photo">
  <%= cl_image_tag(@recipe.photo.key, transformation: { dpr: "auto", responsive: true, quality: "auto:best", width: "auto", crop: "limit"}) %>
</div>
