<%= simple_form_for @recipe do |f| %>
<%= f.input :instructions,
    label: false,
    placeholder: 'ex: Mix all ingredients, season with olive oil and serve.' %>
  <div class="float-right">
    <button class="toggle-instructions btn-back">Back</button>
    <%= f.button :submit, 'Done!', method: :patch, class: 'btn-action' %>
  </div>
<% end %>