<div class="error-page">
  <div class="error">
    <h1>422</h1>
  </div>
  <div class="error-text">
    <h6>There was an error displaying this page. We apoligize for the inconvenience.</h6>
    <p>Return to 
      <%= link_to 'Home', root_path %>
      or
      <%= link_to 'Contact us', root_path %>
      to report the problem.
  </div>
</div>