.avatar {
  border-radius: 50%;
  box-shadow: $shadow-light;
}

.avatar-profile {
  border-radius: 50%;
  box-shadow: $shadow-light;
}

@media screen and (max-width:500px) {
  .avatar {
    width: 30px;
  }

  .avatar-profile {
    width: 90px;
  }
}