.btn-action {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  background-size: 200% auto;
  border-radius: 10px;
  border: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // display: inline-block;
  background-image: linear-gradient(to left, $medium-blue 0%, $very-dark-blue 51%, $medium-blue 100%);
  box-shadow: $shadow-medium;
}


.btn-action:hover, .btn-back:hover { 
  background-position: right center;
  box-shadow: $shadow-medium-hover;
}

.btn-back {
  display: none;
  width: 100px;
  height: 40px;
  margin: 0 20px;
  text-align: center;
  font-size: 16px;
  color: $very-dark-blue;
  font-weight: bolder;
  border: 1px solid $very-dark-blue;
  border-radius: 10px;
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(to left, #FFF 0%, $very-light-blue 51%, #FFF 100%);
  box-shadow: $shadow-medium;
}

.action-links {
  position: absolute;
  top: 8px;
  right: -8px;
  i {
    padding-bottom: 10px;
  }
  i:hover {
    cursor: pointer;
  }
}

.fa-times-circle {
  color: rgba(240, 56, 56, 1);
  transition: 0.05s ease-out;
}

.fa-times-circle:hover {
  color: rgba(198, 6, 6, 1);
  font-size: 16px;
}

#btn-action-big {
  width: 200px;
  margin: 0 auto;
  display: block;
}

