// Main and back btn
.btn-action {
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
  background-size: 200% auto;
  border-radius: 10px;
  border: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: inline-block;
  background-image: linear-gradient(to left, $medium-blue 0%, $very-dark-blue 51%, $medium-blue 100%);
  box-shadow: $shadow-medium;
}


.btn-action:hover, .btn-back:hover { 
  background-position: right center;
  box-shadow: $shadow-medium-hover;
}

.btn-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: $very-dark-blue;
  font-weight: bolder;
  border: 1px solid $very-dark-blue;
  border-radius: 10px;
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(to left, #FFF 0%, $very-light-blue 51%, #FFF 100%);
  box-shadow: $shadow-medium;
}

#btn-action-big {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Delete icon
.action-links {
  position: absolute;
  top: 30%;
  right: -15px;
  i:hover {
    cursor: pointer;
  }
}

.fa-times-circle {
  color: #dd442f;
  transition: 0.05s ease-out;
}

.fa-times-circle:hover {
  color: #c60606;
  font-size: 16px;
}

// Links on buttons section

.links:hover {
  color: #FFF;
}

.back-links:hover {
  text-decoration: none;
  color: $very-dark-blue;
}

// Media queries
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .btn-container {
    width: 100%;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .action-links {
    right: -5px;
  }
}

@media screen and (max-width:500px) {
  .action-links {
    top: -15%;
    right: 0px;
  }

  .btn-action, .btn-back {
    width: 80px;
    height: 32px;
    font-size: 14px;
    border-radius: 8px;
  }
}