// Recipe cards - Main - Flip effect
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 170px;
  margin: 30% auto;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  border-radius: 11px;
  box-shadow: $shadow-medium;
  perspective: 1000px;
  position: relative;
  transition: transform 0.8s;
  transition-delay: 0.5s; 
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition-delay: 0.5s;
}

// Recipe cards - main - Position the front and back side
.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// Recipe cards - Front
.flip-card-front {
  padding: 0;
  border-radius: 11px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  h6 {
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    color: $white;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
  }
}

// Recipe Cards - Back
.flip-card-back {
  color: $white;
  font-size: 12px;
  text-align: left;
  padding: 20px 0px;
  border-radius: 11px;
  box-shadow: none;
  transform: rotateY(180deg);
  h4 {
    text-align: center;
  }
  p {
    margin: 0;
  }
  .nutrients-info {
    border-bottom: none;
  }
}

.info-recipe-card-sm {
  display: flex;
  flex-direction: column;
  margin: 8px;
  min-width: 30px;
}

.info-recipe-card-top, .info-recipe-card-btm {
  text-align: center;
}

.recipe-card h6 {
  font-size: 26px;
  width: 190px;
}

.favourited_indicator {
  color: $white;
  position: absolute;
  bottom: 3px;
  right: 6px;
  font-size: 14px;
}

// Media queries
@media screen and (max-width:500px) {
  .flip-card {
    width: 250px;
    height: 200px;
    margin: 7% auto;
  }
  .recipe-card {
    text-align: center;
    h6 {
      width: 240px;
      font-size: 28px;
    }
  }

  .info-recipe-card-sm {
    margin: 16px;
    min-width: 40px;
  }
}
