.card-container {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 30px auto;
  background-color: $medium-blue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 11px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.card-container h6 {
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  color: rgb(240, 240, 240);
  text-decoration: none;
  margin: 0;
  padding: 0;
}


.card-container:hover {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-decoration: none;
  h6 {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
    color: $light-yellow;
  }
  .macros {
    visibility: visible;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
}

.links-remove {
  text-decoration: none;
}


.links-remove:hover {
  text-decoration: none;
}

.macros {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  padding: 8px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-color: rgba(0,0,0,0.7);
  transition: 0.1s ease-in;
}

.macros span {
  font-size: 12px;
  color: #FFF;
  margin: 0;
  padding: 0;
}

.title {
  width: 230px;
  margin: 0 auto;
  padding: 0;
}