// Cards - Main
.card-container {
  position: relative;
  background-color: $medium-blue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 11px;
  box-shadow: $shadow-medium;
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.card-container h6, span {
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.6);
  color: rgb(240, 240, 240);
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}

.card-container:hover {
  box-shadow: none;
  text-decoration: none;
  h6 {
    color: $light-yellow;
  }
  .macros {
    visibility: visible;
  }
}

// Cards - Index
.card-index {
  width: 200px;
  height: 170px;
  margin: 30% auto;
}

.card-index h6 {
  width: 190px;
  font-size: 26px;
}

// Cards - Profile
.card-profile {
  width: 170px;
  height: 130px;
  margin: 0 0 16px 0;
  position: relative;
}

.card-profile h6 {
  width: 160px;
  font-size: 20px;
}

.favourited_indicator {
  position: absolute;
  bottom: 3px;
  right: 6px;
  font-size: 14px;
}

// Cards - Macronutrients info

.macros {
  visibility: hidden;
  width: 100%;
  padding: 8px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(0,0,0,0.5);
  transition: 0.1s ease-in;

  display: flex;
  justify-content: space-around;
  justify-items: center;

  position: absolute;
  bottom: 0px;
}

.macros span {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #FFF;
}

// Media queries
@media screen and (max-width:500px) {
  .card-index, .card-profile {
    width: 250px;
    height: 200px;
    margin-bottom: 5%;
    text-align: center;
    h6 {
      width: 240px;
      font-size: 28px;
    }
  }

  .card-index {
    margin-top: 5%;
  }

  .card-profile {
    margin-top: 0;
  }
}
