.primary-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 100px;
  h1 {
    padding-left: 16%;
    color: $very-dark-blue;
  }
  h2 {
    padding-left: 18%;
    color: $medium-blue;
  }
  h3 {
    color: $medium-blue;
    font-size: 20px;
  }
}

.container {
  width: 100%;
}