// Inspiration taken from abdo steif --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100
// Navbar template by Albi, codepen user with some changes done by JBertoldi

// Navbar specific style for other pages other than home
#nav-pages {
  background-image: linear-gradient($very-dark-blue, $medium-blue-9);
  div.main_list ul li a:hover {
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  }

  div.logo a:hover {
    color: $very-dark-blue;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  }
}

// Navbar
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100;
  font-family: $body-font;
  font-weight: 100;
  .container {
    margin: 0 auto;
  }
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
}

.nav div.logo a {
  text-decoration: none;
  font-family: $body-font;
  font-weight: 100;
  color: #FFF;
  font-size: 2.2rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  transition: all 0.2s ease-out;
}

.nav div.logo a:hover {
  color: $light-yellow;
  text-shadow: none;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding-right: 2rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: $white;
  line-height: 65px;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  transition: all 0.2s ease-out;
}

.nav div.main_list ul li a:hover {
    color: $very-dark-blue;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

// Home section
.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


// Media query section
@media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 0;
  }
  .nav div.main_list {
    width: 200px;
    height: 0;
    margin-top: 70px;
    position: absolute;
    right: 0;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    background-position: center top;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: max-content;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(280deg, $very-dark-blue-9, $medium-blue-9);
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}


// Animation
// Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  float: right;
  margin-top: 20px;
  margin-right: 0;
}

.navTrigger i {
  background-color: $white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
}
