// Main form info
.forms-devise {
  width: 350px;
  height: max-content;
  padding: 32px;
  margin: 0 auto;
  border: 1px solid $medium-blue;
  border-radius: 3px;

  h2 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
    color: $medium-blue;
  }

  a {
    color: $very-dark-blue;
    font-size: 14px;
  }

  a:hover {
    color: $medium-blue;
  }

  span {
    display: block;
  }

  .form-inputs input {
    width: 100%;
    margin: 8px 0;
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid $medium-blue;
  }

  // Form input to change password, removed margins due to label presence
  .margin-rmv {
    label {
      margin: 0;
    }
    input {
      margin: 0;
    }
    span {
      margin-bottom: 6px;
    }
  }

  
  // Secondary links and submit btn
  .form-actions {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  // Secondary links such as 'go back', 'edit account', devise generated links, etc
  .shared-devise {
    display: inline-flex;
    flex-direction: column;
  }

  // Devise links to recover account info
  .help-links {
    margin: 16px 0;
    a {
      padding: 4px 0;
    }
  }
}

.error_notification {
  font-size: 16px;
  color: $medium-blue;
}

// Radio btn
#user_remember_me {
  margin-right: 4px;
}

// To remove the border-bottom set in other input fields
#user_photo {
  border: none;
  overflow: hidden;
}

// Media queries
@media screen and (max-width: 500px) {
  .forms-devise {
    width: 250px;
    padding: 0;
    border: none;
    margin-top: 5%;
    a {
      font-size: 13px;
    }
  }
}
