@import "devise_forms";
@import "doses_forms";
@import "recipe_forms";
@import "search_forms";
@import "select2";

form {
  font-size: 16px;

  span {
    color: $medium-blue;
    font-size: 14px;
  }

  label {
    color: $very-dark-blue;
    margin-right: 3%;
  }
}

@media screen and (max-width: 500px) {
  input[type="text"]:placeholder-shown {
    font-size: 13px;
  }
}
